<header id="header" class="header d-flex align-items-center sticky-top border-bottom">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="<%= root_url %>" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Bookerhub.</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <% if current_user.present? %>
            <li><%= current_user.email %> </li>
            <li><%= button_to 'wyloguj', destroy_user_session_path, method: :delete, class: "btn" %></li>
          <% else %>
            <li><%= link_to "Logowanie", new_user_session_path %></li>
          <% end %>

          <li class="dropdown"><a href="#"><span>PL</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">PL</a></li>
              <li><a href="#">EN</a></li>
              <li><a href="#">FR</a></li>
              <li><a href="#">DE</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

